/* Reset styles */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
    color: inherit;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
}
button, input {
    cursor: pointer;
    background-color: inherit;
}
/* Reset styles */

/*-------------VARIABLES-------------------*/
:root {
    --blue: radial-gradient(circle,rgba(140, 255, 0, 0.8) 0%, rgba(252, 0, 185, 0.8) 48%, rgba(0, 204, 255, 0.8) 83%);
    /* radial-gradient(circle,rgba(255, 158, 158, 0.85) 0%, rgba(255, 119, 0, 0.85) 13%, rgba(255, 204, 0, 0.85) 29%, rgba(97, 216, 0, 0.85) 42%, rgba(0, 160, 149, 0.85) 56%, rgba(0, 4, 255, 0.85) 70%, rgba(221, 0, 255, 0.85) 84%, rgba(43, 0, 0, 0.85) 100%); */

--violet: radial-gradient(
  circle at top,
  rgba(182, 99, 255, 0.9) 0%,
  rgba(227, 200, 255, 0.85) 45%,
  rgba(80, 14, 145, 0.95) 75%,
  rgba(70, 20, 140, 1) 100%
);
--green: radial-gradient(
  circle at top right,
  rgba(0, 142, 52, 0.9) 0%,
  rgba(255, 255, 255, 0.85) 45%,
  rgba(11, 84, 50, 0.9) 75%,
  rgb(11, 77, 50) 100%
);
--red: radial-gradient(
  circle at top left,
  rgba(255, 120, 120, 0.9) 0%,
  rgba(255, 255, 255, 0.85) 40%,
  rgba(125, 0, 0, 0.9) 75%,
  rgba(140, 20, 20, 1) 100%
);
--orange: radial-gradient(
  circle at top,
  rgba(255, 176, 50, 0.95) 0%,
  rgba(255, 255, 255, 0.9) 45%,
  rgba(105, 44, 0, 0.95) 75%,
  rgb(102, 36, 0) 100%
);
--gold: linear-gradient(0deg,rgba(26, 26, 0, 1) 0%, rgba(204, 204, 141, 1) 25%, rgba(163, 120, 0, 1) 69%, rgba(43, 43, 0, 1) 100%);

--cold: linear-gradient(0deg,rgba(1, 19, 28, 1) 0%, rgba(209, 220, 255, 1) 24%, rgba(33, 177, 255, 1) 65%, rgba(0, 38, 255, 1) 100%);
    
--eco_green: linear-gradient(0deg,rgba(214, 255, 148, 1) 0%, rgba(108, 194, 43, 1) 20%, rgba(255, 255, 255, 1) 56%);
/* linear-gradient(0deg,rgba(2, 26, 0, 1) 0%, rgb(126, 126, 126) 25%, rgba(0, 163, 5, 1) 69%, rgb(255, 255, 254) 100%); */

--new_violet: linear-gradient(0deg,rgba(26, 1, 28, 1) 0%, rgba(255, 0, 221, 1) 27%, rgba(0, 166, 255, 1) 49%, rgba(13, 255, 0, 1) 73%, rgba(255, 0, 0, 1) 100%);

--varm_red: linear-gradient(0deg,rgba(28, 17, 1, 1) 0%, rgba(255, 119, 0, 1) 33%, rgba(255, 204, 0, 1) 71%, rgba(43, 0, 0, 1) 100%);
    /* --pink: radial-gradient(circle,rgba(140, 255, 0, 1) 0%, rgba(252, 0, 185, 1) 48%, rgba(0, 204, 255, 1) 83%);
    --green: radial-gradient(circle,rgba(255, 166, 0, 1) 0%, rgba(252, 252, 0, 1) 39%, rgba(0, 204, 255, 1) 74%, rgba(39, 207, 39, 1) 100%);
    --yellow: radial-gradient(circle,rgba(255, 166, 0, 1) 0%, rgba(252, 252, 0, 1) 39%, rgba(0, 0, 0, 1) 74%, rgba(39, 207, 39, 1) 100%); */
}
    
/*-------------VARIABLES-------------------*/

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	/* padding: 5px 15px; */
	background: url("./media/bg/glass_cherries_art-wallpaper-5120x2880.jpg");
	background-size: cover;
}
/*------------------Header-------------------*/
.header-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
    height: 50px;
    background-color: #ffffffb1;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    margin: 0 auto;
}
.logo_img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
}
.game_name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Paytone One", sans-serif;
    font-size: 26px;
    font-weight: 400;
    padding: 0 10px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}
.menu_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 15px;
}
.menu_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_btn {
    font-size: 18px;
    transition: color 0.4s ease;
}
.menu_btn:hover {
    color:#00ff15;
}
/*------------------Header-------------------*/

/*------------------Main container-------------------*/
.main_container {
    height: 100%;
    padding-top: 20px;
}
.e-game_container {

}
/*Top part*/
.top_part {}
.score-timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #ffffff94;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 0 auto;
}
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #010200;
    padding: 10px 20px;
    /* width: 70px; height: 50px; */
    background-color: #48ff007a;
    border-radius: 10px;
    /* margin: 0 auto; */
    border: 1px solid #fff896;
    font-size: 30px;
    font-weight: 800;
}
.score_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.score_text {
    font-size: 30px;
    color: #020070;
    margin-bottom: 7px;
}
.timer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.timer_text {
    font-size: 30px;
    color: #020070;
    margin-bottom: 7px;
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    padding: 10px 20px;
    /* width: 70px; height: 50px; */
    font-size: 30px;
    background-color: #fd9800ae;
    border-radius: 10px;
    /* margin: 0 auto; */
    border: 1px solid #fff896;
    font-size: 30px;
    font-weight: 800;
}
.button_container {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px auto 50px auto;
}
.s-btn {
	padding: 10px;
    color: #fff;
    font-size: 24px;
    background-color: #009a0d;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.s-btn:hover {
    background-color: #00ff15;
}
.r-btn{
	padding: 10px;
    color: #fff;
    font-size: 24px;
    background-color: #9a0000;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}
.r-btn:hover {
    background-color: #ff0000;
}

/*Top part*/
.bottom_part{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 20px;
    max-width: 1000px;
	margin: 0 auto 20px auto;
	opacity: 0;
	transition: all 0.5s ease;
}
/* .active*/
.bottom_part.active {
	opacity: 1;
	pointer-events: auto;
	background-color: #ffffff95;
	padding: 10px;
  	border-radius: 10px;
}
.card {
    position: relative;
    width: 150px; height: 150px;
    border-radius: 5px;
    font-size: 130px;
    color: #595959;
    text-align: center;
    align-items: center;
    opacity: 0;
    background-color: #000000;
    transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}
/* .show*/
.card.show{
	position: relative;
	width: 150px; height: 150px;
	border-radius: 50%;
	overflow: hidden;
	perspective: 1000px;
	/* transition: all 0.3s ease; */
	opacity: 1;
    outline: none;
	z-index: 3;
    transition:
    transform 0.3s ease,
    opacity 0.3s ease;
    transform: translate(0);
	transform-style: preserve-3d;
}
.card.show::before {
	position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: 0;
    opacity: 5;
    filter: blur(3px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
}
.card_inner{
	position: relative;
	top: 3px; left: 3px;
	width: 144px; height: 144px;
	
	position: relative;
  	transition: transform 0.6s;
  	transform-style: preserve-3d;
	
}
.card:hover {
	transform: scale(1.04);
    box-shadow: 0px 0px 15px 5px #0073ff;
}
.card.matched {
    visibility: hidden;
}
.card.is-flipped .card_inner {
  transform: rotateY(180deg);
}
.card_front{
	position: absolute;
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
	font-size: 70px;
	color: #fffefeb1;
  	border-radius: 50%;
	overflow: hidden;
  	box-shadow:
    inset -8px -12px 18px rgba(255,255,255,0.6),
    inset 10px 10px 20px rgba(0,0,0,0.08),
    0 15px 30px rgba(0,0,0,0.1);
	background: var(--blue);
}
.card_front::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 22px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255,255,255,0.9);
    filter: blur(6px);
}
.card_front::after {
    content: "";
    position: absolute;
    bottom: 18px;
    right: 20px;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    background: rgba(255,255,255,0.25);
    filter: blur(6px);
}
.card_front,
.card_back {
	position: absolute;
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	border-radius: 50%;
	overflow: hidden;
  	/* box-shadow: 0 10px 20px rgba(0,0,0,0.15); */
    box-shadow:
    inset -8px -12px 18px rgba(255,255,255,0.6),
    inset 10px 10px 20px rgba(0,0,0,0.08),
    0 15px 30px rgba(0,0,0,0.1);
}
.card_text{}

.card_back{
	background: var(--cold);
    /* linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(78, 79, 37, 1) 34%, rgba(51, 45, 0, 1) 61%, rgba(255, 247, 0, 1) 100%); */
    /* radial-gradient(circle,rgba(255, 247, 0, 1) 0%, rgba(149, 255, 0, 1) 100%); */
  	transform: rotateY(180deg);
}
.card_back::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 22px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(255,255,255,0.9);
    filter: blur(16px);
}
.card_back::after {
    content: "";
    position: absolute;
    bottom: 18px;
    right: 20px;
    width: 50px;
    height: 25px;
    border-radius: 50%;
    background: rgba(255,255,255,0.25);
    filter: blur(10px);
}
/*------------------Main container-------------------*/

.emo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /* margin: 20px auto; */
    max-width: 110px;
    /* height: 90px; */
    padding: 5px;
}
.emo-img img {
    width: 100%;
    object-fit: cover;
}
.modal {
    /* display: none; */
    display: flex;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal.active {
    opacity: 1;
    visibility: visible;
}
.modal_content {
    /* position: relative; */
    background: rgba(255, 255, 255, 0.743);
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;

    transform: scale(0.9) translateY(20px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.modal.active .modal_content {
    transform: scale(1) translateY(0);
    opacity: 1;
}
.modal_message {
    color: #0069cb;
}
.close_modal {
    position: absolute;
    content: '';
    top: 5px; right: 15px;
    font-size: 20px;
    font-weight: 600;
    background: none;
    color: #ff0000;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 5px;
}
.rules {
    color: red;
}
.rText {
    font-size: 20px;
    margin-top: 10px;
}
.roText {
    margin-top: 20px;
    color: #4e0000;
}
/*additional modal*/
.colors {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.choose_color {
    color:#004b5e;
}
.color_btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0px 25px 0px;
}
.blue,
.violet,
.green,
.red,
.orange,
.gold,
.cold,
.eco_green,
.new_violet,
.varm_red
 {
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.blue {
    background-color: #0066ff;
}
.blue:hover {
    background-color: #1100ff;
    color: #000;
}
.violet {
    background-color: #a73bff;
}
.violet:hover {
    background-color: #50007c;
    color: #000;
}
.green {
    background-color: #3fff53;
}
.green:hover {
    background-color: #00850b;
    color: #000;
}
.red {
    background-color: #f94141;
}
.red:hover {
    background-color: #900000;
    color: #000;
}
.orange {
    background-color: #f9a041;
}
.orange:hover {
    background-color: #905400;
    color: #000;
}
.gold {
    background-color: #fff8b8;
}
.gold:hover {
    background-color: #fff494;
    color: #000;
}
.cold {
    background-color: #a7e6ff;
}
.cold:hover {
    background-color: #347a88;
    color: #000;
}
.eco_green {
    background-color: #6cffbf;
}
.eco_green:hover {
    background-color: #00af6c;
    color: #000;
}
.new_violet {
    background-color: #f9e641;
}
.new_violet:hover {
    background-color: #f9e641;
    color: #000;
}
.varm_red {
    background-color: #f89f39;
}
.varm_red:hover {
    background-color: #8e6100;
    color: #000;
}
.cCardCont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*------------------Footer-------------------*/
.footer {
    width: 100%;
    height: 35px;
    background-color: #ffffffb5;
    font-size: 22px;
    text-align: center;
    align-self: center;
    padding-top: 5px;
}


/*------------------Animation-------------------*/
@keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  @keyframes bounceRotate {
  0%, 100% {
    transform: translateY(0) rotate(0deg); /* Начальное и конечное положение */
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1); /* Плавное начало */
  }
  50% {
    transform: translateY(-20px) rotate(180deg); /* Подпрыгнул и повернулся на 180° */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1); /* Плавное опускание */
  }
}

.from-left   { transform: translateX(-50px); }
.from-right  { transform: translateX(50px); }
.from-top    { transform: translateY(-50px); }
.from-bottom { transform: translateY(50px); }
/*------------------Animation-------------------*/


/*------------------MEDIA-------------------*/
@media (max-width: 700px) {
    .wrapper {
        height: auto;
    }
    .header-container {
        gap: 5px;
        justify-content: space-between;
    }
    .logo {
        padding-left: 0;
        justify-content: space-between;
        margin: 0;
    }
    .logo_img {
        width: 30px;
    }
    .game_name {
        font-size: 18px;
    }
    .bottom_part{
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-template-rows: repeat(4, 1fr);
	    gap: 20px;
        /* max-width: 1000px; */
	    margin: 0 auto 20px auto;
    }
}
@media (max-width: 550px) {
    .bottom_part{
	    display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    grid-template-rows: repeat(4, 1fr);
	    gap: 20px;
        /* max-width: 1000px; */
	    margin: 0 auto 20px auto;
    }
    .modal_content {
        padding: 20px 10px;
    }
    .color_btn-container {
        flex-wrap: wrap;
    }

}
@media (max-width: 440px) {
    .wrapper {
        height: auto;
    }
    .game_name {
        display: none;
    }
    .score-timer {
        width: 270px;
    }
    .button_container {
        gap: 10px;
    }
    .card.show {
        width: 130px; height: 130px;
    }
    .card.show::before {
        width: 130px; height: 130px;
    }
    .card_inner {
        width: 125px; height: 125px;
        top: 2.6px; left: 2.43px;
    }
}